version: 2.1

jobs:
  test:
    docker:
      - image: elixir:1.10.1-slim
    steps:
      - checkout
      - run:
          name: run unit tests
          command: |
            mix local.hex --force
            mix local.rebar --force
            mix deps.get
            MIX_ENV=test mix do test
  coveralls:
    docker:
      - image: elixir:1.10.1-slim
    steps:
      - checkout
      - run:
          name: run coverage
          command: |
            mix local.hex --force
            mix local.rebar --force
            mix deps.get
            MIX_ENV=test mix do compile --warnings-as-errors, coveralls.json
      - run:
          name: send coverage report
          command: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - test
      - coveralls
